<div class="px-3">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col text">
          <table>
            <tr
              *ngFor="let line of analyze.lines; let i = index"
              (mouseenter)="onMouseEnter(i)"
              (mouseleave)="onMouseLeave()"
              [class.highlight]="isHighlighted(i)"
              [style.background-color]="getColor(i)"
            >
              <td>{{ i }}</td>
              <td class="px-2">{{ convertSymbolToDash(analyze.scheme[i]) }}</td>
              <td class="pl-2">{{ line }}</td>
            </tr>
          </table>
        </div>
        <div class="col">
          <app-rhymes-matrix
            [rhymes]="analyze.scheme"
            [rhymeRatings]="analyze.rhymeRatings"
            [rhymeTypesMatrix]="analyze.rhymeTypesMatrix"
            [rhymeTypes]="analyze.rhymeTypes"
            [components]="analyze.relevantComponents"
            [stressMoved]="analyze.stressMoved"
            (highlight)="onHighlight($event)"
          ></app-rhymes-matrix>
          <div class="card mt-5 ml-4">
            <div class="card-body">
              SONG RHYME RATING: {{ analyze.rating | number }}<br /><br />
              Perfect masculine: {{ getPercentage(RhymeType.PM) | number }}%<br />
              Perfect Feminine: {{ getPercentage(RhymeType.PF) | number }}%<br />
              Perfect Dactylic: {{ getPercentage(RhymeType.PD) | number }}%<br />
              Imperfect: {{ getPercentage(RhymeType.IM) | number }}%<br />
              Forced: {{ getPercentage(RhymeType.F) | number }}%<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
