.tile {
  height: 30px;
  width: 30px;
  border: 1px solid #ababab;
}

.tile.filled {
  background-color: rgb(70, 70, 70);
}

.tile:hover {
  background-color: #e2e2e2;
}

.tile.filled:hover:not(.diagonal) {
  filter: brightness(0.6);
}

.tile.diagonal {
  background: #e6e6e6 !important;
  &:before {
    content: '×';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 46px;
    /* font-weight: 100; */
    line-height: 46px;
    color: #c5c5c5;
  }
  &:hover {
    background: #e6e6e6 !important;
  }
}

.header {
  width: 30px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
